<h2>Customer List</h2>
<table class="table table-striped" style ="background-color: antiquewhite;">
    <thead>
        <tr>
            <th> Customer Id</th>
            <th> Customer Name</th>
            <th> Customer Address</th>
            <th> Customer Email </th>
            <th> Customer PhoneNumber</th>
            <th class="text-center"> Action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let customer of customers">
            <td> {{customer.customerID}} </td>
            <td> {{customer.customerName}} </td>
            <td> {{customer.customerAddress}} </td>
            <td> {{customer.customerEmail}} </td>
            <td> {{customer.customerNumber}} </td>
            <td>
                <button (click) = "updateCustomer(customer.customerID)" class="btn btn-info"> Update</button>
                <button (click) = "deleteCustomer(customer.customerID)" class="btn btn-danger" style="margin-left:10px">Delete </button>
                <button (click) = "viewCustomer(customer.customerID)" class="btn btn-success" style="margin-left:10px">View </button>
            </td>
            
        </tr>
    </tbody>
</table>


